# Synthetic Data Generator

In [16]:

import pandas as pd
import numpy as np
import random
import string

# Generating 2000 tuples for LSTM

In [17]:
import math
from sklearn.utils import shuffle

df_first = pd.read_csv('adult.csv', dtype=object, index_col=False)

In [18]:

df_first.shape

(32537, 15)

# Dropping few columns and removing duplicates

In [19]:
df_first = df_first.replace(np.NAN, 'empty')
df_first = df_first.apply(lambda x: x.astype(str).str.lower())
df_first = df_first.drop_duplicates()
df_first.shape

(32537, 15)

In [20]:
df_first.to_csv('adult.csv', index=False)

# Replacing Empty Cell with 0 patients

In [21]:
df_first.head(5)

,age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,income
0,90,empty,77053,hs-grad,9,widowed,empty,not-in-family,white,female,0,4356,40,united-states,<=50k
1,82,private,132870,hs-grad,9,widowed,exec-managerial,not-in-family,white,female,0,4356,18,united-states,<=50k
2,66,empty,186061,some-college,10,widowed,empty,unmarried,black,female,0,4356,40,united-states,<=50k
3,54,private,140359,7th-8th,4,divorced,machine-op-inspct,unmarried,white,female,0,3900,40,united-states,<=50k
4,41,private,264663,some-college,10,separated,prof-specialty,own-child,white,female,0,3900,40,united-states,<=50k

In [22]:
df1 = df_first
df_first['label'] = 1
#for i in range(3):
#    df_first = df_first.append(df1, ignore_index=True)
#df_first = df_first.sample(frac=1)

In [23]:
df_first.to_csv('clean_adult_dataset.csv',index = False)
df_first.head(5)
df_first.shape

(32537, 16)

In [24]:
df_first.shape[1]

16

### Sample 275 rows to new dataframe called df_second and shuffle the data columwise

In [25]:
sample_size = int(0.015 * df_first.shape[0] * df_first.shape[1])
sample_size

10411

In [26]:
df_first['label'] = 1

In [27]:
df_first.shape

(32537, 16)

In [28]:
#df_temp[df_temp['HospitalName'] == 'YUKON KUSKOKWIM DELTA REG HOSPITAL']
df_first.head(10)
df_first = df_first.drop(columns=['fnlwgt', 'capitalgain', 'capitalloss'])
df_first.rename(columns={'nativecountry': 'country'}, inplace=True)
col_list = df_first.columns.tolist()
columns = df_first.shape[1]
df_first.head(10)

,age,workclass,education,educationnum,maritalstatus,occupation,relationship,race,sex,hoursperweek,country,income,label
0,90,empty,hs-grad,9,widowed,empty,not-in-family,white,female,40,united-states,<=50k,1
1,82,private,hs-grad,9,widowed,exec-managerial,not-in-family,white,female,18,united-states,<=50k,1
2,66,empty,some-college,10,widowed,empty,unmarried,black,female,40,united-states,<=50k,1
3,54,private,7th-8th,4,divorced,machine-op-inspct,unmarried,white,female,40,united-states,<=50k,1
4,41,private,some-college,10,separated,prof-specialty,own-child,white,female,40,united-states,<=50k,1
5,34,private,hs-grad,9,divorced,other-service,unmarried,white,female,45,united-states,<=50k,1
6,38,private,10th,6,separated,adm-clerical,unmarried,white,male,40,united-states,<=50k,1
7,74,state-gov,doctorate,16,never-married,prof-specialty,other-relative,white,female,20,united-states,>50k,1
8,68,federal-gov,hs-grad,9,divorced,prof-specialty,not-in-family,white,female,40,united-states,<=50k,1
9,41,private,some-college,10,never-married,craft-repair,unmarried,white,male,60,empty,>50k,1

In [29]:
df_f = df_first
df_f = df_f.drop(columns=['label'])
df_f.to_csv('clean_adult_dataset_hc.csv',index = False)

In [30]:
###introduce nan - category 2

###introduce nan - category 2

#df_third = df_first.sample(n = int(sample_size/3), axis=0).reset_index(drop=False)

columns = df_first.shape[1]
rowsNum = df_first.shape[0]

tempList = []

def introduce_empty(df):
    col_list = df.columns.tolist()
    for row in range(int(0.005 * df_first.shape[0] * df_first.shape[1])):
        random_row = random.randint(0,rowsNum-1)
        random_cell_1 = random.randint(0,columns-2)
        #print(random_cell_1)
        if col_list[random_cell_1] == 'sex' or col_list[random_cell_1] == 'income':
            continue
        if random_row in tempList:
            row -= 1
        else:
            #print(random_row, random_cell_1)
            if df.iloc[random_row,random_cell_1]!='empty':
                df.iloc[random_row,random_cell_1] = np.NAN
                tempList.append(random_row)
                df.iloc[random_row, -1] = 0
    return df
        
df_first = introduce_empty(df_first)

In [31]:
df_first.head(100)

,age,workclass,education,educationnum,maritalstatus,occupation,relationship,race,sex,hoursperweek,country,income,label
0,90,empty,hs-grad,9,widowed,empty,not-in-family,white,female,40,united-states,<=50k,1
1,82,private,hs-grad,9,widowed,exec-managerial,not-in-family,white,female,18,united-states,<=50k,1
2,66,empty,some-college,10,widowed,empty,unmarried,black,female,40,united-states,<=50k,1
3,54,private,7th-8th,4,divorced,machine-op-inspct,unmarried,white,female,40,united-states,<=50k,1
4,41,private,some-college,10,separated,prof-specialty,own-child,white,female,40,united-states,<=50k,1
5,34,private,hs-grad,9,divorced,other-service,unmarried,white,female,45,united-states,<=50k,1
6,38,private,10th,6,separated,adm-clerical,unmarried,white,male,40,united-states,<=50k,1
7,74,state-gov,doctorate,16,never-married,prof-specialty,other-relative,white,female,20,united-states,>50k,1
8,68,federal-gov,hs-grad,9,divorced,prof-specialty,not-in-family,white,female,40,united-states,<=50k,1
9,41,private,some-college,10,never-married,craft-repair,unmarried,white,male,60,empty,>50k,1
10,45,private,doctorate,16,divorced,prof-specialty,unmarried,black,female,35,united-states,>50k,1
11,38,self-emp-not-inc,prof-school,15,never-married,prof-specialty,not-in-family,white,male,45,united-states,>50k,1
12,52,private,bachelors,13,widowed,other-service,not-in-family,white,female,20,united-states,>50k,1
13,32,private,masters,14,separated,exec-managerial,not-in-family,white,male,55,united-states,>50k,1
14,51,empty,doctorate,16,never-married,empty,not-in-family,white,male,40,united-states,>50k,1
15,46,private,prof-school,15,divorced,prof-specialty,not-in-family,white,male,40,united-states,>50k,1
16,45,private,11th,7,divorced,transport-moving,not-in-family,white,male,76,united-states,>50k,1
17,57,private,masters,14,divorced,exec-managerial,not-in-family,white,male,50,united-states,>50k,1
18,22,private,assoc-acdm,12,never-married,handlers-cleaners,not-in-family,black,male,40,empty,>50k,1
19,34,private,bachelors,13,separated,sales,not-in-family,white,male,50,united-states,>50k,1
20,37,private,bachelors,13,never-married,exec-managerial,not-in-family,white,male,40,united-states,>50k,1
21,29,private,11th,7,separated,sales,not-in-family,white,female,42,united-states,<=50k,1
22,61,private,hs-grad,9,divorced,sales,unmarried,white,female,25,united-states,<=50k,1
23,51,private,some-college,10,married-civ-spouse,transport-moving,husband,white,male,40,united-states,<=50k,1
24,61,empty,hs-grad,9,married-civ-spouse,empty,husband,white,male,32,united-states,<=50k,1
25,21,private,assoc-voc,11,married-civ-spouse,craft-repair,husband,white,male,40,united-states,<=50k,1
26,33,private,1st-4th,2,married-civ-spouse,craft-repair,not-in-family,white,male,32,mexico,<=50k,1
27,49,private,5th-6th,3,married-civ-spouse,other-service,husband,white,male,40,greece,<=50k,1
28,37,self-emp-inc,10th,6,never-married,transport-moving,not-in-family,white,male,50,united-states,>50k,1
29,38,private,10th,6,never-married,prof-specialty,not-in-family,white,male,90,united-states,>50k,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,49,private,bachelors,13,married-civ-spouse,sales,husband,white,male,55,united-states,>50k,1
71,47,self-emp-not-inc,hs-grad,9,married-civ-spouse,exec-managerial,husband,white,male,50,united-states,>50k,1
72,NaN,local-gov,prof-school,15,married-civ-spouse,prof-specialty,husband,white,male,45,united-states,>50k,0
73,55,self-emp-inc,bachelors,13,married-civ-spouse,exec-managerial,husband,white,male,50,united-states,>50k,1
74,39,private,masters,14,married-civ-spouse,exec-managerial,wife,white,female,65,united-states,>50k,1
75,42,private,bachelors,13,married-civ-spouse,exec-managerial,husband,white,male,60,united-states,>50k,1
76,41,empty,assoc-voc,11,married-civ-spouse,empty,husband,white,male,12,united-states,>50k,1
77,46,private,masters,14,married-civ-spouse,sales,husband,white,male,65,united-states,>50k,1
78,40,private,masters,14,married-civ-spouse,exec-managerial,husband,white,male,45,united-states,>50k,1
79,32,private,bachelors,13,married-civ-spouse,prof-specialty,husband,white,male,48,united-states,>50k,1
80,41,self-emp-inc,some-college,10,married-civ-spouse,exec-managerial,husband,white,male,55,united-states,>50k,1
81,60,self-emp-inc,prof-school,15,married-civ-spouse,prof-specialty,husband,white,male,80,united-states,>50k,1
82,31,private,masters,14,married-civ-spouse,exec-managerial,husband,white,male,70,taiwan,>50k,1
83,58,self-emp-not-inc,some-college,10,married-civ-spouse,farming-fishing,husband,white,male,40,united-states,>50k,1
84,37,self-emp-inc,bachelors,13,married-civ-spouse,sales,husband,white,male,50,united-states,>50k,1
85,44,self-emp-not-inc,bachelors,13,married-civ-spouse,exec-managerial,husband,white,male,50,united-states,>50k,1
86,39,self-emp-not-inc,prof-school,15,married-civ-spouse,prof-specialty,husband,white,male,50,empty,>50k,1
87,43,federal-gov,prof-school,15,married-civ-spouse,prof-specialty,husband,asian-pac-islander,male,55,empty,>50k,1
88,55,self-emp-inc,NaN,13,married-civ-spouse,exec-managerial,husband,white,male,50,united-states,>50k,0
89,44,self-emp-inc,masters,14,married-civ-spouse,prof-specialty,husband,white,male,55,united-states,>50k,1
90,39,private,prof-school,15,married-civ-spouse,prof-specialty,husband,asian-pac-islander,male,67,india,>50k,1
91,46,self-emp-not-inc,bachelors,13,married-civ-spouse,sales,husband,white,male,40,united-states,>50k,1
92,39,private,some-college,10,married-civ-spouse,farming-fishing,husband,white,male,99,united-states,>50k,1
93,62,self-emp-inc,bachelors,13,married-civ-spouse,farming-fishing,husband,white,male,60,united-states,>50k,1
94,31,self-emp-not-inc,hs-grad,9,married-civ-spouse,other-service,wife,white,female,40,united-states,>50k,1
95,46,private,bachelors,13,married-civ-spouse,adm-clerical,husband,asian-pac-islander,male,35,philippines,>50k,1
96,46,self-emp-not-inc,prof-school,15,married-civ-spouse,prof-specialty,husband,white,male,80,united-states,>50k,1
97,39,self-emp-inc,assoc-voc,11,married-civ-spouse,craft-repair,husband,white,male,40,united-states,>50k,1
98,39,private,prof-school,15,married-civ-spouse,sales,husband,white,male,99,united-states,>50k,1
99,59,private,doctorate,16,married-civ-spouse,prof-specialty,husband,white,male,45,united-states,>50k,1

In [32]:
col_list

['age',
 'workclass',
 'education',
 'educationnum',
 'maritalstatus',
 'occupation',
 'relationship',
 'race',
 'sex',
 'hoursperweek',
 'country',
 'income',
 'label']

In [33]:
tempList

[128,
 18209,
 2880,
 31267,
 14190,
 25578,
 4669,
 31878,
 6137,
 13204,
 28831,
 27932,
 7873,
 731,
 22158,
 24341,
 13218,
 20075,
 26327,
 23477,
 26186,
 19736,
 16740,
 24639,
 8389,
 13555,
 2557,
 19489,
 31945,
 29428,
 23893,
 9634,
 32335,
 4134,
 11282,
 762,
 23977,
 26242,
 9930,
 8362,
 13384,
 13363,
 14024,
 30056,
 26815,
 29169,
 20423,
 13415,
 24871,
 19329,
 9879,
 7052,
 18638,
 28435,
 26748,
 17139,
 6542,
 5949,
 20482,
 27854,
 3635,
 18262,
 26874,
 7847,
 7829,
 25469,
 14713,
 18110,
 32112,
 22779,
 7162,
 1829,
 7872,
 19576,
 14584,
 13832,
 26548,
 3866,
 20831,
 1156,
 11336,
 24267,
 22808,
 1508,
 1833,
 16548,
 32111,
 7427,
 11283,
 1675,
 27179,
 17557,
 8293,
 11007,
 17755,
 14668,
 2301,
 27578,
 25821,
 25207,
 8939,
 23549,
 14038,
 5977,
 3325,
 10408,
 7147,
 4287,
 13624,
 1497,
 6320,
 16539,
 29207,
 2138,
 17399,
 28246,
 29464,
 2633,
 27449,
 19968,
 28548,
 15004,
 28373,
 107,
 30721,
 21739,
 9388,
 1810,
 31294,
 5728,
 25352,
 7825,
 4996,
 18121,
 1162,
 20971,
 15328,
 25956,
 24540,
 8323,
 3456,
 1960,
 831,
 6659,
 29413,
 29436,
 9050,
 2743,
 12414,
 18863,
 9224,
 2714,
 23905,
 31047,
 13817,
 12835,
 17229,
 4658,
 8843,
 5501,
 14337,
 13286,
 27764,
 8026,
 13882,
 6728,
 16513,
 3605,
 588,
 17756,
 16364,
 11002,
 22474,
 10797,
 14858,
 29696,
 7076,
 25209,
 7805,
 9837,
 30766,
 8715,
 7894,
 27659,
 6181,
 168,
 11427,
 22035,
 26057,
 21236,
 12249,
 26967,
 7074,
 29694,
 21096,
 11683,
 14793,
 19016,
 709,
 14670,
 19866,
 138,
 166,
 4548,
 7914,
 3594,
 7105,
 30611,
 10816,
 14123,
 25863,
 12296,
 11490,
 6311,
 15212,
 27653,
 2315,
 909,
 16405,
 17713,
 8880,
 6718,
 7041,
 19358,
 17581,
 24156,
 11572,
 29369,
 17884,
 10063,
 31091,
 3899,
 4099,
 27033,
 21117,
 17625,
 13161,
 27798,
 22582,
 12154,
 2888,
 28464,
 6523,
 5793,
 27788,
 21722,
 7421,
 31578,
 28530,
 23732,
 31856,
 16450,
 27923,
 30841,
 8937,
 12406,
 1261,
 27059,
 8225,
 11878,
 11972,
 24012,
 26175,
 13215,
 6293,
 4611,
 15990,
 7227,
 16489,
 29507,
 17097,
 15359,
 21251,
 28176,
 12575,
 28927,
 2481,
 15227,
 16987,
 28715,
 4740,
 24910,
 28239,
 5897,
 20660,
 1407,
 27425,
 25620,
 20583,
 31871,
 13658,
 21309,
 13284,
 10984,
 17073,
 22295,
 27830,
 10886,
 25792,
 3676,
 10236,
 6305,
 22032,
 7898,
 18372,
 19233,
 27070,
 7527,
 14707,
 23060,
 3830,
 16656,
 23939,
 20147,
 7201,
 11806,
 31706,
 27480,
 30654,
 31617,
 18138,
 23416,
 21544,
 2522,
 17654,
 12278,
 31132,
 4316,
 19654,
 15246,
 13273,
 10715,
 19136,
 27429,
 1025,
 28916,
 29962,
 25977,
 11533,
 13550,
 24831,
 19832,
 20879,
 4608,
 17834,
 3609,
 24989,
 22959,
 3881,
 22125,
 13866,
 27758,
 9307,
 24339,
 22102,
 16708,
 14951,
 14634,
 21667,
 17819,
 27750,
 25137,
 17906,
 14451,
 372,
 11744,
 14906,
 5551,
 3190,
 6704,
 15380,
 518,
 20889,
 30949,
 32387,
 26101,
 30538,
 14180,
 20765,
 7216,
 15187,
 2934,
 654,
 13169,
 18932,
 4619,
 30523,
 19137,
 30987,
 30714,
 25581,
 29635,
 9514,
 29630,
 16012,
 5354,
 12452,
 24347,
 3972,
 9721,
 23126,
 24291,
 3726,
 16967,
 11582,
 21059,
 13656,
 9026,
 14069,
 8117,
 8173,
 4852,
 6867,
 267,
 945,
 13311,
 10013,
 17651,
 6858,
 11527,
 11368,
 8894,
 31839,
 22272,
 7016,
 19582,
 14632,
 27036,
 4371,
 17656,
 737,
 3950,
 10182,
 14132,
 15110,
 18557,
 19011,
 21765,
 20671,
 31409,
 25520,
 164,
 6300,
 16620,
 21120,
 15335,
 23450,
 31778,
 8395,
 26305,
 14915,
 28734,
 1817,
 17056,
 31163,
 18803,
 29513,
 25218,
 3402,
 12383,
 31579,
 25712,
 11977,
 22020,
 8592,
 26212,
 10624,
 4178,
 15744,
 32052,
 29211,
 19871,
 20286,
 31396,
 28462,
 25744,
 30879,
 12546,
 28198,
 25237,
 31985,
 8514,
 17415,
 8651,
 13121,
 18621,
 558,
 993,
 17508,
 14361,
 11725,
 18203,
 16266,
 29967,
 31084,
 12989,
 25699,
 6353,
 12293,
 20932,
 25402,
 26682,
 31248,
 8040,
 18594,
 24888,
 12993,
 22878,
 11718,
 16237,
 28695,
 3636,
 3843,
 28003,
 7106,
 31168,
 13115,
 29167,
 14692,
 27264,
 15058,
 3939,
 3495,
 20687,
 20748,
 30469,
 4802,
 28963,
 2501,
 11100,
 24410,
 809,
 12117,
 22005,
 30207,
 8487,
 31907,
 88,
 12885,
 31086,
 15119,
 7731,
 12684,
 17183,
 13781,
 17863,
 6194,
 12505,
 24686,
 22212,
 25547,
 24238,
 17157,
 12844,
 21883,
 8789,
 4595,
 2244,
 8765,
 16373,
 15636,
 16085,
 18323,
 23537,
 2185,
 20569,
 6765,
 2652,
 3391,
 14025,
 22477,
 8869,
 9018,
 23127,
 19296,
 810,
 20275,
 9292,
 20993,
 17787,
 3699,
 10157,
 26284,
 20734,
 20813,
 25519,
 7402,
 12290,
 24642,
 19394,
 28409,
 24926,
 12605,
 11711,
 20859,
 1989,
 776,
 9500,
 16240,
 5870,
 18771,
 5435,
 22008,
 2200,
 5952,
 12444,
 25416,
 6714,
 4473,
 18603,
 11518,
 25786,
 5471,
 9629,
 12250,
 20819,
 7667,
 17736,
 31050,
 10050,
 32461,
 20727,
 159,
 27541,
 5659,
 13247,
 12936,
 5396,
 8109,
 7643,
 18778,
 14666,
 21528,
 1972,
 26799,
 28632,
 20667,
 9342,
 8837,
 21766,
 1536,
 14440,
 17268,
 30577,
 30675,
 8408,
 25425,
 6179,
 11521,
 20986,
 2611,
 14848,
 18021,
 27348,
 14916,
 26402,
 14102,
 10503,
 23233,
 24196,
 16294,
 30799,
 15315,
 32527,
 14105,
 30357,
 14293,
 22262,
 10869,
 12171,
 19041,
 28919,
 25939,
 27958,
 28177,
 16833,
 14234,
 16738,
 32490,
 28278,
 7039,
 16551,
 27254,
 26591,
 19916,
 19732,
 10977,
 17532,
 12618,
 3450,
 20222,
 3396,
 6851,
 25294,
 13054,
 2375,
 6764,
 27563,
 29506,
 9826,
 23512,
 10824,
 31284,
 27155,
 5128,
 4711,
 32041,
 11116,
 4812,
 17943,
 25806,
 15798,
 13525,
 9383,
 8208,
 20744,
 22932,
 29943,
 24476,
 11198,
 1743,
 27492,
 31254,
 14113,
 28213,
 19542,
 19615,
 8535,
 28028,
 22628,
 11028,
 30528,
 26120,
 3323,
 13119,
 17243,
 18544,
 27873,
 27038,
 756,
 26180,
 25306,
 29086,
 20732,
 28250,
 24177,
 21257,
 20559,
 5519,
 14948,
 21244,
 15980,
 7176,
 25039,
 187,
 13254,
 24548,
 29566,
 4982,
 22774,
 20997,
 4223,
 13236,
 13496,
 20257,
 12718,
 9639,
 30753,
 2205,
 8997,
 12155,
 10384,
 8617,
 9381,
 12339,
 28531,
 22271,
 27248,
 21006,
 20159,
 13157,
 31113,
 31764,
 4389,
 20943,
 18658,
 31147,
 8190,
 13672,
 19826,
 3519,
 13019,
 22469,
 17123,
 16763,
 24647,
 6332,
 23236,
 32302,
 29599,
 23743,
 19285,
 15073,
 21557,
 24599,
 8780,
 4555,
 3786,
 1084,
 1132,
 22639,
 30274,
 27116,
 32258,
 14449,
 29885,
 2020,
 28318,
 16201,
 4670,
 19837,
 26035,
 4943,
 2115,
 8679,
 16560,
 11051,
 27073,
 6336,
 3181,
 951,
 27076,
 20280,
 1761,
 12055,
 25359,
 15586,
 13144,
 26514,
 22697,
 31826,
 28292,
 17790,
 3945,
 1265,
 18296,
 16962,
 23811,
 26809,
 11538,
 28099,
 13785,
 7215,
 14595,
 2344,
 29896,
 12990,
 31045,
 26844,
 3493,
 23116,
 14493,
 19286,
 9863,
 16712,
 32097,
 8445,
 12857,
 5841,
 22323,
 9483,
 25331,
 15560,
 27603,
 5670,
 31710,
 11778,
 21118,
 26555,
 26971,
 10461,
 10150,
 10821,
 8809,
 31624,
 1701,
 8404,
 23590,
 5804,
 6042,
 10370,
 29759,
 21925,
 22155,
 28410,
 10917,
 23656,
 25565,
 20534,
 26488,
 22826,
 13867,
 1188,
 15469,
 13631,
 929,
 5370,
 65,
 22692,
 16855,
 3668,
 30969,
 1019,
 10349,
 28836,
 19601,
 10545,
 8599,
 15631,
 2952,
 19272,
 13569,
 4368,
 14221,
 10888,
 23262,
 879,
 29255,
 14139,
 72,
 20028,
 9978,
 27331,
 28976,
 12623,
 12855,
 22138,
 19512,
 3113,
 15441,
 18911,
 28822,
 27005,
 21581,
 31142,
 12534,
 8719,
 32201,
 726,
 7128,
 28726,
 24137,
 24693,
 10248,
 9214,
 4345,
 847,
 10523,
 9961,
 20202,
 17585,
 28946,
 18247,
 17371,
 10021,
 25019,
 12519,
 23794,
 22136,
 9420,
 23136,
 7630,
 24964,
 13436,
 23026,
 14406,
 12625,
 15290,
 330,
 17005,
 31082,
 1519,
 31046,
 19093,
 13188,
 26220,
 12636,
 30195,
 19427,
 5254,
 13258,
 1392,
 30156,
 26116,
 4186,
 25750,
 25722,
 18169,
 8742,
 813,
 ...]

In [34]:
df_first.shape

(32537, 13)

## Introduce errors in the dataset into df_fourth dataframe on the selected columns.

In [35]:

columns = df_first.shape[1]
rowsNum = df_first.shape[0]

def modifyValue(value):
    wordList = list(value)
    
    randomPosition = random.randint(0, len(value) - 1)
    currentChar = wordList[randomPosition]
    
    lowercase = set(string.ascii_lowercase)
    uppercase = set(string.ascii_uppercase)
    digits = set(string.digits)
    
    while currentChar.isspace() is True:
        if len(value):
            randomPosition = random.randint(0, len(value) - 1)
            currentChar = wordList[randomPosition]
    
    if currentChar.isalpha():
        if currentChar.islower():
            char = random.choice(list(lowercase - set(currentChar)))
        else:
            char = random.choice(list(uppercase - set(currentChar)))
    else:
        char = random.choice(list(digits - set(currentChar)))
    
    #wordList[randomPosition] = str(char)
    if wordList:
        wordList[randomPosition] = str('x')
    return ''.join(wordList)

for row in range(sample_size):
        random_row = random.randint(0,rowsNum-1)
        random_cell_1 = random.randint(0,columns-2)
        #print(random_cell_1)
        #if col_list[random_cell_1] == 'sex' or col_list[random_cell_1] == 'race':
        #    continue
        if random_row in tempList:
            row -= 1
        else:
            #print(random_row, random_cell_1)
            value = df_first.iloc[random_row,random_cell_1]
            #print(value)
            if value!= 'nan' or value!='empty' or len(df.iloc[random_row])==df.shape[1]:
                #print(random_row)
                df_first.iloc[random_row,random_cell_1] = modifyValue(value)
                tempList.append(random_row)
                df_first.iloc[random_row, -1] = 0
    #df_fourth.at[index, 'label'] = 0

In [36]:
df_first.shape

(32537, 13)

In [37]:
df_first['label'].value_counts()

1    22365
0    10172
Name: label, dtype: int64

In [38]:
df_first.to_csv('adult_final_test.csv',index = False)

In [217]:
#df_final

In [218]:
#df_final = df_final.sort_values(['index'])

In [219]:
df_first = df_first.drop(columns=['label'])
#df_first.insert(3, 'Address2', '')
#df_first.insert(4, 'Address3', '')
df_first.to_csv('adult_hc.csv',index = False)

In [220]:
df_first

,age,workclass,education,educationnum,maritalstatus,occupation,relationship,race,sex,hoursperweek,country,income
0,90,empty,hs-grad,9,widowed,empty,not-in-family,white,female,x0,united-states,<=50k
1,82,private,hs-grad,9,widowed,exec-managerial,not-in-family,white,female,18,united-states,<=50k
2,66,empty,some-college,10,widowed,empty,unmarried,black,female,40,united-states,<=50k
3,54,prixate,7th-8th,4,divorced,machine-op-inspct,unmarried,white,female,40,united-states,<=50k
4,41,private,some-college,NaN,separated,prof-specialty,own-child,white,female,40,united-states,<=50k
5,34,private,hs-grxd,9,divorced,other-service,unmarried,white,female,45,united-states,<=50k
6,38,private,10th,6,separated,adm-clerical,unmarried,white,male,40,united-states,<=50k
7,74,state-gov,doctorate,16,never-married,prof-xpecialty,other-relative,white,female,20,united-states,>50k
8,68,federal-gov,hs-grad,9,divorced,prof-specialty,not-in-family,white,female,40,united-states,<=50k
9,41,private,some-college,x0,never-married,craft-repair,unmarried,white,male,60,empty,>50k
10,45,private,doctorate,16,divorced,prof-specialty,unmarried,black,female,35,united-states,>50k
11,38,self-emp-not-inc,prof-school,15,never-married,prof-specialty,not-in-family,white,male,4x,united-states,>50k
12,52,private,bachelors,13,widowed,other-service,not-in-family,white,female,20,united-states,>50k
13,32,private,masters,14,separated,exec-managerial,not-in-family,white,male,55,united-states,>50k
14,51,empty,doctorate,16,never-married,empty,not-in-family,white,male,40,united-states,>50k
15,46,private,xrof-school,15,divorced,prof-specialty,not-in-family,white,male,40,united-states,>50k
16,45,private,11th,7,divorced,transport-moving,not-in-family,white,male,76,united-states,>50k
17,57,private,masters,14,divorced,exec-managerial,not-in-family,white,male,50,united-states,>50k
18,22,private,assoc-acdm,12,never-married,handlers-cleaners,not-in-family,black,male,40,empty,>50k
19,34,private,bachelors,13,separated,sales,not-in-family,white,male,50,united-states,>50k
20,37,private,bachelors,13,never-married,exec-managerial,not-in-family,white,male,40,united-states,>50k
21,29,private,11th,7,separated,sales,not-in-family,white,female,42,united-states,<=50k
22,61,private,hs-grad,9,divorced,sales,unmarried,white,female,25,united-states,<=50k
23,51,private,some-college,10,married-civ-spouse,transport-moving,husband,white,male,40,united-states,<=50k
24,61,empty,hs-grad,9,married-civ-spouse,empty,husband,white,male,32,united-states,<=50k
25,21,private,assoc-voc,11,married-civ-spouse,craft-repair,husband,white,male,40,united-states,<=50k
26,33,private,1st-4th,x,married-civ-spouse,craft-repair,not-in-family,white,male,32,mexico,<=50k
27,49,private,5th-6th,3,married-civ-spouse,other-service,husband,white,male,40,greece,<=50k
28,37,self-emp-inc,10th,6,never-married,transport-moving,not-in-family,white,male,50,united-states,>50k
29,38,private,10th,x,never-married,prof-specialty,not-in-family,white,male,90,united-states,>50k
...,...,...,...,...,...,...,...,...,...,...,...,...
32507,31,private,hs-grad,9,married-civ-spouse,machine-op-inspct,wife,white,female,40,united-states,<=50k
32508,29,private,hs-grad,9,separated,sales,unmarried,white,female,35,united-states,<=50k
32509,35,empty,bachelors,13,married-civ-spouse,empty,wife,white,female,55,united-states,>50k
32510,30,empty,bachelors,13,never-married,empty,not-in-family,asian-pac-islander,female,99,united-states,<=50k
32511,34,private,doctorate,16,married-civ-spouse,prof-specialty,husband,white,male,60,united-states,>50k
32512,54,private,bachelors,13,married-civ-spouse,exec-managerial,husband,asian-pac-islander,male,50,japan,>50k
32513,37,private,some-college,10,divorced,adm-clerical,unmarried,white,female,39,united-states,<=50k
32514,22,private,12th,8,never-married,protective-serv,own-child,black,male,35,united-states,<=50k
32515,34,private,bxchelors,13,never-married,exec-managerial,not-in-family,white,female,55,united-states,>50k
32516,30,private,hs-grad,9,never-married,craft-repair,not-in-family,black,male,46,united-states,<=50k
32517,71,empty,doctorate,16,married-civ-spouse,empty,husband,white,male,10,united-states,>50k
32518,45,state-gov,hs-grad,9,separated,adm-clerical,own-child,white,female,40,united-states,<=50k
32519,41,empty,hs-grad,9,separated,empty,not-in-family,black,female,32,united-states,<=50k
32520,72,empty,hs-grad,9,married-civ-spouse,empty,husband,white,male,25,united-states,<=50k
32521,45,local-gov,assoc-acdm,12,divorced,prof-specialty,unmarried,white,female,48,united-states,<=50k
32522,31,private,masters,14,divorced,other-service,not-in-family,other,fexale,30,united-states,<=50k
32523,39,local-gov,assoc-acdm,12,married-civ-spouse,adm-clerical,wife,white,female,20,united-states,>50k
32524,37,private,assoc-acdm,12,divorced,tech-support,not-in-family,white,female,40,united-states,<=5xk
32525,43,private,hs-grad,9,married-civ-spouse,machine-op-inspct,husband,white,male,4x,mexico,<=50k
32526,43,state-gov,some-college,10,divorced,adm-clerical,other-relative,white,female,40,united-states,<=50k
32527,43,self-emp-not-inc,some-college,10,married-civ-spouse,craft-repair,hxsband,white,male,50,united-states,<=50k
32528,32,private,10th,6,married-civ-spouse,handlers-cleaners,husband,amer-indian-eskimo,male,40,united-states,<=50k
32529,43,private,assoc-voc,11,married-civ-spouse,sales,husband,white,male,45,united-states,<=50k
32530,32,private,masters,14,never-married,tech-support,nox-in-family,asian-pac-islander,male,11,taiwan,<=50k
32531,x3,private,masters,14,married-civ-spouse,exec-managerial,husband,white,male,40,united-states,>50k
32532,22,private,some-college,10,never-married,protective-serv,not-in-family,white,male,40,united-states,<=50k
32533,27,private,assoc-acdm,12,married-civ-spouse,tech-support,wife,white,female,38,united-xtates,<=50k
32534,40,private,hs-grad,9,married-civ-spouse,machine-op-inspct,husband,white,male,40,united-states,>50k
32535,58,private,hs-grad,9,widowed,adm-clerical,unmarried,white,female,40,united-states,<=50k
32536,22,private,hs-grad,9,never-married,adm-clerical,own-child,white,male,20,united-states,<=50k