In [1]:
import warnings
warnings.filterwarnings('ignore')

from gensim.models import Word2Vec
import gensim
import pandas as pd

## Read Data
Read the hospital dataset

In [2]:
#df = pd.read_csv("truthvalue.csv",dtype=object, encoding='utf8')

In [3]:
df = pd.read_csv('adult.csv', dtype=object, encoding='utf8', index_col=0)

Drop some columns

In [4]:
#df.drop(columns=['City'], axis=1, inplace=True)
df = df.apply(lambda x: x.astype(str).str.lower())

In [5]:
#df['Birthday'] = df['Birthday'].apply(lambda x: str(int(float(x))))
#df['Number'] = df['Number'].apply(lambda x: str(int(float(x))))
#df['PhoneNumber'] = df['PhoneNumber'].apply(lambda x: str(int(float(x))))

#for i in range(0, 3):
#    df.append(df)
df = df.sample(frac=1).reset_index(drop=True)

In [6]:
df.head(3)

,age,workclass,fnlwgt,education,educationnum,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,income
0,55,private,124137,hs-grad,9,married-spouse-absent,machine-op-inspct,not-in-family,white,male,0,0,40,poland,<=50k
1,48,private,38950,bachelors,13,married-civ-spouse,exec-managerial,husband,white,male,15024,0,50,united-states,>50k
2,46,private,174426,some-college,10,married-civ-spouse,machine-op-inspct,husband,white,male,0,0,40,united-states,<=50k

## Word2Vec Embedding using the Gensim library
Details here: https://radimrehurek.com/gensim/

In [7]:
dfList = df.values.tolist()

In [8]:
dfList[5]

['32',
 'private',
 '167990',
 'hs-grad',
 '9',
 'married-civ-spouse',
 'exec-managerial',
 'husband',
 'white',
 'male',
 '0',
 '0',
 '40',
 'ireland',
 '<=50k']

In [9]:
df.nunique()

age                 73
workclass            9
fnlwgt           21648
education           16
educationnum        16
maritalstatus        7
occupation          15
relationship         6
race                 5
sex                  2
capitalgain        119
capitalloss         92
hoursperweek        94
nativecountry       42
income               2
dtype: int64

In [10]:
#model_1 = Word2Vec(dfList, sg=0, min_count=1, workers=8, iter=1000, window=len(dfList[0]), size=140)

In [11]:
model = Word2Vec(dfList, sg=1, min_count=1, workers=8, iter=1000, window=len(dfList[0]))

In [12]:
model.wv.most_similar("black", topn=50)

[('jamaica', 0.5640259385108948),
 ('haiti', 0.5500873327255249),
 ('asian-pac-islander', 0.5107529163360596),
 ('amer-indian-eskimo', 0.48737379908561707),
 ('other', 0.4734540283679962),
 ('2387', 0.4027389883995056),
 ('dominican-republic', 0.39761799573898315),
 ('trinadad&tobago', 0.39535537362098694),
 ('316769', 0.3939740061759949),
 ('111589', 0.382667601108551),
 ('132887', 0.3821179270744324),
 ('188914', 0.37409836053848267),
 ('194630', 0.37392330169677734),
 ('125796', 0.36609089374542236),
 ('204990', 0.365689754486084),
 ('202642', 0.3535749316215515),
 ('299765', 0.34710973501205444),
 ('0', 0.342984139919281),
 ('244771', 0.3428668677806854),
 ('outlying-us(guam-usvi-etc)', 0.3370947539806366),
 ('guatemala', 0.33494606614112854),
 ('258120', 0.3349103033542633),
 ('216116', 0.33242878317832947),
 ('153799', 0.3322758972644806),
 ('202720', 0.3321252167224884),
 ('213208', 0.3289077877998352),
 ('130060', 0.32864370942115784),
 ('38621', 0.3280017673969269),
 ('philippines', 0.32769575715065),
 ('346847', 0.32554367184638977),
 ('265148', 0.3254815638065338),
 ('south', 0.3252131938934326),
 ('252939', 0.3239550292491913),
 ('82285', 0.32110780477523804),
 ('94392', 0.3196219801902771),
 ('275884', 0.3190596401691437),
 ('237824', 0.31787365674972534),
 ('140713', 0.31746071577072144),
 ('271243', 0.317397803068161),
 ('187538', 0.3164752721786499),
 ('254547', 0.316301554441452),
 ('254439', 0.3162858486175537),
 ('1594', 0.31592968106269836),
 ('213451', 0.31570789217948914),
 ('97883', 0.3155853748321533),
 ('196894', 0.31542330980300903),
 ('31838', 0.3140937387943268),
 ('vietnam', 0.31329968571662903),
 ('151386', 0.31304702162742615),
 ('ecuador', 0.31295567750930786)]

In [13]:
model.wv.most_similar("black", topn=50)

[('jamaica', 0.5640259385108948),
 ('haiti', 0.5500873327255249),
 ('asian-pac-islander', 0.5107529163360596),
 ('amer-indian-eskimo', 0.48737379908561707),
 ('other', 0.4734540283679962),
 ('2387', 0.4027389883995056),
 ('dominican-republic', 0.39761799573898315),
 ('trinadad&tobago', 0.39535537362098694),
 ('316769', 0.3939740061759949),
 ('111589', 0.382667601108551),
 ('132887', 0.3821179270744324),
 ('188914', 0.37409836053848267),
 ('194630', 0.37392330169677734),
 ('125796', 0.36609089374542236),
 ('204990', 0.365689754486084),
 ('202642', 0.3535749316215515),
 ('299765', 0.34710973501205444),
 ('0', 0.342984139919281),
 ('244771', 0.3428668677806854),
 ('outlying-us(guam-usvi-etc)', 0.3370947539806366),
 ('guatemala', 0.33494606614112854),
 ('258120', 0.3349103033542633),
 ('216116', 0.33242878317832947),
 ('153799', 0.3322758972644806),
 ('202720', 0.3321252167224884),
 ('213208', 0.3289077877998352),
 ('130060', 0.32864370942115784),
 ('38621', 0.3280017673969269),
 ('philippines', 0.32769575715065),
 ('346847', 0.32554367184638977),
 ('265148', 0.3254815638065338),
 ('south', 0.3252131938934326),
 ('252939', 0.3239550292491913),
 ('82285', 0.32110780477523804),
 ('94392', 0.3196219801902771),
 ('275884', 0.3190596401691437),
 ('237824', 0.31787365674972534),
 ('140713', 0.31746071577072144),
 ('271243', 0.317397803068161),
 ('187538', 0.3164752721786499),
 ('254547', 0.316301554441452),
 ('254439', 0.3162858486175537),
 ('1594', 0.31592968106269836),
 ('213451', 0.31570789217948914),
 ('97883', 0.3155853748321533),
 ('196894', 0.31542330980300903),
 ('31838', 0.3140937387943268),
 ('vietnam', 0.31329968571662903),
 ('151386', 0.31304702162742615),
 ('ecuador', 0.31295567750930786)]

In [14]:
model.save("AdultWord2Vec.w2v")