# Synthetic Data Generator

In [35]:
import pandas as pd
import numpy as np
import random
import string

# Generating 2000 tuples for LSTM

In [36]:
import math
from sklearn.utils import shuffle

#df_first = pd.read_csv('adult.csv', dtype=object)

df_first = pd.read_csv('census_clean_unflatten.csv', dtype=object, index_col=False)

In [37]:
df_first = df_first.drop(columns=['wage_per_hour', 'weeks_worked_in_year', 'family_members_under_18', 'instance_weight', 'dividends_from_stocks','capital_gains', 'capital_losses', 'detailed_industry_recode', 'detailed_occupation_recode', 'num_persons_worked_for_employer', 'veterans_benefits'])

In [38]:

df_first.shape

(93590, 30)

# Dropping few columns and removing duplicates

In [39]:
df_first.replace('?', 'empty',inplace = True)
df_first = df_first.replace(np.NAN, 'empty')
df_first = df_first.apply(lambda x: x.astype(str).str.lower())
#df_first = df_first.drop_duplicates()

df_first.shape

(93590, 30)

In [40]:
df_first.to_csv('census_clean_unflatten.csv', index=False)

# Replacing Empty Cell with 0 patients

In [41]:
#df_first.rename(columns={'City.1': 'City'}, inplace=True)

In [42]:
df_first.head(5)

,age,class_of_worker,education,enroll_in_edu_inst_last_wk,marital_stat,major_industry_code,major_occupation_code,race,hispanic_origin,sex,...,migration_code_move_within_reg,live_in_this_house_1_year_ago,migration_prev_res_in_sunbelt,country_of_birth_father,country_of_birth_mother,country_of_birth_self,citizenship,own_business_or_self_employed,year,income
0,58,self-employed-not incorporated,some college but no degree,not in universe,divorced,construction,precision production craft & repair,white,all other,male,...,same county,no,yes,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
1,9,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,all other,female,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
2,10,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,all other,female,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
3,42,private,bachelors degree(ba ab bs),not in universe,married-civilian spouse present,finance insurance and real estate,executive admin and managerial,white,all other,male,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
4,34,private,some college but no degree,not in universe,married-civilian spouse present,construction,machine operators assmblrs & inspctrs,white,all other,male,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.

In [43]:
df1 = df_first
df_first['label'] = 1

In [44]:
df_first.to_csv('clean_census_dataset.csv',index = False)
df_first.head(5)
df_first.shape

(93590, 31)

In [45]:
df_first.shape[1]

31

### Sample 275 rows to new dataframe called df_second and shuffle the data columwise

In [46]:
sample_size = int(0.02 * df_first.shape[0] * df_first.shape[1])
sample_size

58025

In [47]:
#df_first['label'] = 1

In [48]:
df_first.shape

(93590, 31)

In [49]:
#df_temp[df_temp['HospitalName'] == 'YUKON KUSKOKWIM DELTA REG HOSPITAL']
col_list = df_first.columns.tolist()
columns = df_first.shape[1]
df_first.head(10)

,age,class_of_worker,education,enroll_in_edu_inst_last_wk,marital_stat,major_industry_code,major_occupation_code,race,hispanic_origin,sex,...,live_in_this_house_1_year_ago,migration_prev_res_in_sunbelt,country_of_birth_father,country_of_birth_mother,country_of_birth_self,citizenship,own_business_or_self_employed,year,income,label
0,58,self-employed-not incorporated,some college but no degree,not in universe,divorced,construction,precision production craft & repair,white,all other,male,...,no,yes,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
1,9,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
2,10,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
3,42,private,bachelors degree(ba ab bs),not in universe,married-civilian spouse present,finance insurance and real estate,executive admin and managerial,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
4,34,private,some college but no degree,not in universe,married-civilian spouse present,construction,machine operators assmblrs & inspctrs,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
5,8,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
6,51,private,some college but no degree,not in universe,married-civilian spouse present,construction,precision production craft & repair,white,do not know,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
7,46,private,high school graduate,not in universe,divorced,business and repair services,other service,white,central or south american,female,...,yes,not in universe,columbia,columbia,columbia,foreign born- not a citizen of u s,0,94,- 50000.,1
8,13,not in universe,children,not in universe,never married,not in universe or children,not in universe,black,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
9,39,not in universe,10th grade,not in universe,married-civilian spouse present,not in universe or children,not in universe,white,mexican (mexicano),female,...,yes,not in universe,mexico,mexico,mexico,foreign born- not a citizen of u s,0,94,- 50000.,1

In [50]:
columns = df_first.shape[1]
rowsNum = df_first.shape[0]

tempList = []

In [51]:
def introduce_empty(df):
    col_list = df.columns.tolist()
    for row in range(int(0.005 * df_first.shape[0] * df_first.shape[1])):
        random_row = random.randint(0,rowsNum-1)
        random_cell_1 = random.randint(0,columns-2)
        #print(random_cell_1)
        #if col_list[random_cell_1] == 'sex' or col_list[random_cell_1] == 'race':
        #    continue
        if random_row in tempList:
            row -= 1
        else:
            #print(random_row, random_cell_1)
            if df.iloc[random_row,random_cell_1]!='empty':
                df.iloc[random_row,random_cell_1] = np.NAN
                tempList.append(random_row)
                df.iloc[random_row, -1] = 0
    return df
        
df_first = introduce_empty(df_first)

In [52]:
df_first.head(100)

,age,class_of_worker,education,enroll_in_edu_inst_last_wk,marital_stat,major_industry_code,major_occupation_code,race,hispanic_origin,sex,...,live_in_this_house_1_year_ago,migration_prev_res_in_sunbelt,country_of_birth_father,country_of_birth_mother,country_of_birth_self,citizenship,own_business_or_self_employed,year,income,label
0,58,self-employed-not incorporated,some college but no degree,not in universe,divorced,construction,precision production craft & repair,white,all other,male,...,no,yes,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
1,9,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
2,10,not in universe,children,not in universe,NaN,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,0
3,42,private,bachelors degree(ba ab bs),not in universe,married-civilian spouse present,finance insurance and real estate,executive admin and managerial,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
4,34,private,some college but no degree,not in universe,married-civilian spouse present,construction,machine operators assmblrs & inspctrs,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
5,8,not in universe,children,not in universe,never married,NaN,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,0
6,51,private,some college but no degree,not in universe,married-civilian spouse present,construction,precision production craft & repair,white,do not know,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
7,46,private,high school graduate,not in universe,divorced,business and repair services,other service,white,central or south american,female,...,yes,not in universe,columbia,columbia,columbia,foreign born- not a citizen of u s,0,94,- 50000.,1
8,13,not in universe,children,not in universe,never married,not in universe or children,not in universe,black,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
9,39,not in universe,10th grade,not in universe,married-civilian spouse present,not in universe or children,not in universe,white,mexican (mexicano),female,...,yes,not in universe,mexico,mexico,mexico,foreign born- not a citizen of u s,0,94,- 50000.,1
10,12,not in universe,children,not in universe,never married,not in universe or children,not in universe,other,mexican-american,male,...,no,yes,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
11,27,self-employed-not incorporated,some college but no degree,not in universe,married-civilian spouse present,construction,precision production craft & repair,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,1,94,- 50000.,1
12,46,private,masters degree(ma ms meng med msw mba),not in universe,married-civilian spouse present,other professional services,professional specialty,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
13,55,not in universe,some college but no degree,not in universe,married-civilian spouse present,not in universe or children,not in universe,asian or pacific islander,all other,female,...,yes,not in universe,japan,united-states,united-states,native- born in the united states,0,94,- 50000.,1
14,2,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
15,37,private,bachelors degree(ba ab bs),not in universe,never married,construction,executive admin and managerial,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,0
16,46,self-employed-not incorporated,some college but no degree,not in universe,married-civilian spouse present,construction,precision production craft & repair,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
17,25,private,high school graduate,not in universe,never married,other professional services,adm support including clerical,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
18,46,private,high school graduate,not in universe,separated,wholesale trade,handlers equip cleaners etc,white,central or south american,female,...,yes,not in universe,peru,peru,peru,foreign born- not a citizen of u s,0,94,- 50000.,1
19,39,private,bachelors degree(ba ab bs),not in universe,married-civilian spouse present,finance insurance and real estate,executive admin and managerial,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
20,11,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,mexican-american,female,...,yes,not in universe,mexico,mexico,united-states,native- born in the united states,0,94,- 50000.,1
21,30,not in universe,high school graduate,not in universe,never married,not in universe or children,not in universe,black,all other,female,...,no,no,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
22,7,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,other spanish,male,...,yes,not in universe,dominican-republic,puerto-rico,united-states,native- born in the united states,0,94,- 50000.,1
23,66,self-employed-not incorporated,7th and 8th grade,not in universe,married-civilian spouse present,retail trade,sales,NaN,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,0
24,26,not in universe,high school graduate,not in universe,married-civilian spouse present,not in universe or children,not in universe,white,mexican-american,female,...,yes,not in universe,mexico,mexico,mexico,foreign born- not a citizen of u s,0,94,- 50000.,1
25,52,not in universe,high school graduate,NaN,married-civilian spouse present,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,0
26,5,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,all other,female,...,no,no,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
27,35,not in universe,high school graduate,not in universe,married-civilian spouse present,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
28,36,private,high school graduate,not in universe,married-civilian spouse present,retail trade,precision production craft & repair,white,all other,male,...,no,no,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
29,42,private,bachelors degree(ba ab bs),not in universe,married-civilian spouse present,social services,professional specialty,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,17,not in universe,11th grade,high school,never married,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,outlying-u s (guam usvi etc),portugal,portugal,native- born abroad of american parent(s),0,94,- 50000.,1
71,45,private,some college but no degree,not in universe,divorced,finance insurance and real estate,executive admin and managerial,white,mexican (mexicano),female,...,yes,not in universe,united-states,mexico,mexico,native- born abroad of american parent(s),0,94,- 50000.,1
72,30,self-employed-not incorporated,high school graduate,not in universe,married-civilian spouse present,business and repair services,adm support including clerical,white,mexican (mexicano),female,...,yes,not in universe,mexico,mexico,mexico,foreign born- u s citizen by naturalization,0,94,- 50000.,1
73,23,state government,associates degree-occup /vocational,college or university,married-a f spouse present,education,adm support including clerical,white,all other,female,...,no,no,united-states,united-states,united-states,native- born in the united states,2,94,- 50000.,1
74,37,private,high school graduate,not in universe,married-civilian spouse present,transportation,transportation and material moving,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
75,59,state government,some college but no degree,not in universe,married-civilian spouse present,construction,executive admin and managerial,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
76,45,self-employed-not incorporated,bachelors degree(ba ab bs),not in universe,never married,entertainment,professional specialty,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
77,37,private,prof school degree (md dds dvm llb jd),not in universe,married-civilian spouse present,business and repair services,other service,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,2,94,- 50000.,1
78,28,private,some college but no degree,not in universe,married-civilian spouse present,retail trade,executive admin and managerial,white,all other,male,...,yes,not in universe,united-states,united-states,NaN,native- born in the united states,0,94,- 50000.,0
79,60,not in universe,high school graduate,not in universe,married-civilian spouse present,not in universe or children,not in universe,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
80,49,not in universe,high school graduate,not in universe,divorced,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
81,24,private,associates degree-occup /vocational,not in universe,never married,manufacturing-durable goods,adm support including clerical,white,all other,female,...,yes,not in universe,italy,italy,united-states,native- born in the united states,0,94,- 50000.,1
82,81,not in universe,high school graduate,not in universe,married-civilian spouse present,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
83,28,federal government,prof school degree (md dds dvm llb jd),not in universe,never married,education,professional specialty,white,all other,male,...,no,yes,united-states,united-states,united-states,native- born in the united states,2,94,- 50000.,1
84,43,federal government,high school graduate,not in universe,married-civilian spouse present,public administration,adm support including clerical,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,NaN,0
85,34,private,high school graduate,not in universe,divorced,private household services,private household services,white,mexican-american,female,...,no,no,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
86,27,private,some college but no degree,not in universe,married-civilian spouse present,finance insurance and real estate,adm support including clerical,white,mexican-american,female,...,yes,not in universe,mexico,mexico,mexico,foreign born- not a citizen of u s,0,94,- 50000.,1
87,76,not in universe,high school graduate,not in universe,widowed,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,NaN,0
88,13,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
89,35,private,bachelors degree(ba ab bs),not in universe,married-civilian spouse present,retail trade,sales,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,50000+.,1
90,44,local government,masters degree(ma ms meng med msw mba),not in universe,married-civilian spouse present,education,professional specialty,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
91,33,private,high school graduate,not in universe,married-civilian spouse present,finance insurance and real estate,adm support including clerical,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
92,41,private,associates degree-occup /vocational,not in universe,married-civilian spouse present,wholesale trade,sales,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
93,41,self-employed-not incorporated,doctorate degree(phd edd),not in universe,never married,other professional services,professional specialty,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
94,65,not in universe,associates degree-occup /vocational,not in universe,married-civilian spouse present,not in universe or children,not in universe,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
95,31,private,high school graduate,not in universe,never married,agriculture,farming forestry and fishing,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
96,47,federal government,bachelors degree(ba ab bs),not in universe,married-civilian spouse present,public administration,executive admin and managerial,other,central or south american,male,...,yes,not in universe,italy,peru,peru,foreign born- u s citizen by naturalization,0,94,- 50000.,1
97,41,private,some college but no degree,not in universe,never married,manufacturing-durable goods,machine operators assmblrs & inspctrs,white,all other,female,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,2,94,- 50000.,1
98,10,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,all other,male,...,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.,1
99,2,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,puerto rican,male,...,yes,not in universe,puerto-rico,puerto-rico,united-states,native- born in the united states,0,94,- 50000.,1

In [53]:
col_list

['age',
 'class_of_worker',
 'education',
 'enroll_in_edu_inst_last_wk',
 'marital_stat',
 'major_industry_code',
 'major_occupation_code',
 'race',
 'hispanic_origin',
 'sex',
 'member_of_a_labor_union',
 'reason_for_unemployment',
 'full_or_part_time_employment_stat',
 'tax_filer_stat',
 'region_of_previous_residence',
 'state_of_previous_residence',
 'detailed_household_and_family_stat',
 'detailed_household_summary_in_household',
 'migration_code_change_in_msa',
 'migration_code_change_in_reg',
 'migration_code_move_within_reg',
 'live_in_this_house_1_year_ago',
 'migration_prev_res_in_sunbelt',
 'country_of_birth_father',
 'country_of_birth_mother',
 'country_of_birth_self',
 'citizenship',
 'own_business_or_self_employed',
 'year',
 'income',
 'label']

In [54]:
df_first.shape

(93590, 31)

## Introduce errors in the dataset into df_fourth dataframe on the selected columns.

In [55]:

columns = df_first.shape[1]
rowsNum = df_first.shape[0]

def modifyValue(value):
    wordList = list(value)
    
    randomPosition = random.randint(0, len(value) - 1)
    currentChar = wordList[randomPosition]
    
    lowercase = set(string.ascii_lowercase)
    uppercase = set(string.ascii_uppercase)
    digits = set(string.digits)
    
    while currentChar.isspace() is True:
        if len(value):
            randomPosition = random.randint(0, len(value) - 1)
            currentChar = wordList[randomPosition]
    
    if currentChar.isalpha():
        if currentChar.islower():
            char = random.choice(list(lowercase - set(currentChar)))
        else:
            char = random.choice(list(uppercase - set(currentChar)))
    else:
        char = random.choice(list(digits - set(currentChar)))
    
    #wordList[randomPosition] = str(char)
    if wordList:
        wordList[randomPosition] = str('x')
    return ''.join(wordList)

for row in range(sample_size):
        random_row = random.randint(0,rowsNum-1)
        random_cell_1 = random.randint(0,columns-2)
        #print(random_cell_1)
        #if col_list[random_cell_1] == 'sex' or col_list[random_cell_1] == 'race':
        #    continue
        if random_row in tempList:
            row -= 1
        else:
            #print(random_row, random_cell_1)
            value = df_first.iloc[random_row,random_cell_1]
            #print(value)
            if value!= 'nan' or value!='empty':
                df_first.iloc[random_row,random_cell_1] = modifyValue(value)
                tempList.append(random_row)
                df_first.iloc[random_row, -1] = 0
    #df_fourth.at[index, 'label'] = 0

In [56]:
df_first.shape

(93590, 31)

In [57]:
df_first['label'].value_counts()

0    50444
1    43146
Name: label, dtype: int64

In [58]:
df_first.to_csv('census_final_train.csv',index = False)

In [59]:
#df_final = df_final.sort_values(['index'])

In [60]:
df_first = df_first.drop(columns=['label'])
#df_first.insert(3, 'Address2', '')
#df_first.insert(4, 'Address3', '')
#df_first.to_csv('census_hc.csv',index = False)

In [61]:
df_first.head(10)

,age,class_of_worker,education,enroll_in_edu_inst_last_wk,marital_stat,major_industry_code,major_occupation_code,race,hispanic_origin,sex,...,migration_code_move_within_reg,live_in_this_house_1_year_ago,migration_prev_res_in_sunbelt,country_of_birth_father,country_of_birth_mother,country_of_birth_self,citizenship,own_business_or_self_employed,year,income
0,58,self-employed-not incorporated,some college but no degree,not in universe,divorced,construction,precision production craft & repair,white,all other,male,...,same county,no,yes,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
1,9,not in universe,children,not in universe,never married,not in universe or children,not in universe,white,all other,female,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
2,10,not in universe,children,not in universe,NaN,not in universe or children,not in universe,white,all other,female,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
3,42,private,bachelors degree(ba ab bs),not in universe,married-civilian spouse present,finance insurance and real estate,executive admin and managerial,white,all other,male,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
4,34,private,some college but no degree,not in universe,married-civilian spouse present,construction,machine operators assmblrs & inspctrs,white,all other,male,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
5,8,not in universe,children,not in universe,never married,NaN,not in universe,white,all other,female,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
6,51,private,some college but no degree,not in universe,married-civilian spouse present,construction,precision production craft & repair,white,do not know,male,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
7,46,private,high school graduate,nxt in universe,divorced,business and repair services,other service,white,central or south american,female,...,nonmover,yes,not in universe,columbia,columbia,columbia,foreign born- not a citizen of u s,0,94,- 50000.
8,13,not in universe,children,not in universe,never married,not in universe or children,not in universe,black,all other,female,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
9,39,not in universe,10th grade,not in universe,married-civilian spouse present,not in universe or children,not in universe,white,mexican (mexicano),female,...,nonmover,yes,not in universe,mexico,mexico,mexico,foreign born- not a citizen of u s,0,94,- 50000.

In [62]:
df_first.to_csv('census_hc.csv',index = False)