In [9]:
import warnings
warnings.filterwarnings('ignore')

from gensim.models import Word2Vec
import gensim
import pandas as pd

## Read Data
Read the hospital dataset

In [10]:
#df = pd.read_csv("truthvalue.csv",dtype=object, encoding='utf8')

In [11]:
df = pd.read_csv('census_clean_unflatten.csv', dtype=object, index_col=False)

Drop some columns

In [12]:
#df.drop(columns=['City'], axis=1, inplace=True)
df = df.apply(lambda x: x.astype(str).str.lower())

In [13]:
#df['Birthday'] = df['Birthday'].apply(lambda x: str(int(float(x))))
#df['Number'] = df['Number'].apply(lambda x: str(int(float(x))))
#df['PhoneNumber'] = df['PhoneNumber'].apply(lambda x: str(int(float(x))))

#for i in range(0, 3):
#    df.append(df)
df = df.sample(frac=1).reset_index(drop=True)

In [14]:
df.head(3)

,age,class_of_worker,education,enroll_in_edu_inst_last_wk,marital_stat,major_industry_code,major_occupation_code,race,hispanic_origin,sex,...,migration_code_move_within_reg,live_in_this_house_1_year_ago,migration_prev_res_in_sunbelt,country_of_birth_father,country_of_birth_mother,country_of_birth_self,citizenship,own_business_or_self_employed,year,income
0,30,private,masters degree(ma ms meng med msw mba),not in universe,married-civilian spouse present,manufacturing-nondurable goods,professional specialty,asian or pacific islander,all other,female,...,nonmover,yes,not in universe,china,china,china,foreign born- not a citizen of u s,0,94,- 50000.
1,60,not in universe,doctorate degree(phd edd),not in universe,married-civilian spouse present,not in universe or children,not in universe,black,all other,male,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.
2,21,not in universe,some college but no degree,college or university,never married,not in universe or children,not in universe,white,all other,male,...,nonmover,yes,not in universe,united-states,united-states,united-states,native- born in the united states,0,94,- 50000.

## Word2Vec Embedding using the Gensim library
Details here: https://radimrehurek.com/gensim/

In [15]:
dfList = df.values.tolist()

In [16]:
dfList[5]

['41',
 ' not in universe',
 ' high school graduate',
 ' not in universe',
 ' never married',
 ' not in universe or children',
 ' not in universe',
 ' white',
 ' all other',
 ' male',
 ' not in universe',
 ' not in universe',
 ' children or armed forces',
 ' nonfiler',
 ' west',
 ' new york',
 ' secondary individual',
 ' nonrelative of householder',
 ' msa to msa',
 ' same county',
 ' same county',
 ' no',
 ' yes',
 ' united-states',
 ' united-states',
 ' united-states',
 ' native- born in the united states',
 '0',
 '94',
 ' - 50000.']

In [17]:
df.nunique()

age                                        91
class_of_worker                             9
education                                  17
enroll_in_edu_inst_last_wk                  3
marital_stat                                7
major_industry_code                        24
major_occupation_code                      15
race                                        5
hispanic_origin                            10
sex                                         2
member_of_a_labor_union                     3
reason_for_unemployment                     6
full_or_part_time_employment_stat           1
tax_filer_stat                              6
region_of_previous_residence                6
state_of_previous_residence                50
detailed_household_and_family_stat         37
detailed_household_summary_in_household     8
migration_code_change_in_msa                9
migration_code_change_in_reg                8
migration_code_move_within_reg              9
live_in_this_house_1_year_ago               3
migration_prev_res_in_sunbelt               3
country_of_birth_father                    40
country_of_birth_mother                    40
country_of_birth_self                      40
citizenship                                 5
own_business_or_self_employed               3
year                                        1
income                                      2
dtype: int64

In [18]:
#model_1 = Word2Vec(dfList, sg=0, min_count=1, workers=8, iter=1000, window=len(dfList[0]), size=140)

In [19]:
model = Word2Vec(dfList, sg=1, min_count=1, workers=8, iter=1000, window=len(dfList[0]))

In [20]:
#model.wv.most_similar("black", topn=50)

In [21]:
model.save("CensusWord2Vec.w2v")